.Top-container {background-color:#E4F9F5;
  border:20px;
  padding:20px;
  position: relative;
  padding-top: 50px;
}
.middle-container {
	margin: 100px 0;
}

.bottom-container {
	background-color: #668FBF;
	padding: 50px 0 20px;
}

body {color: #40514E;
  text-align: center;

font-family: cursive;}
hr {
	border: dotted #EAF6F6 6px;
	border-bottom: none;
	width: 4%;
}
h1 {color: #668FBF;
	margin: 5Opx auto 0 auto;
	font-size: 5.625rem;
line-height: 2;
}
h2{color: #668FBF;
	font-family: cursive;
	padding-bottom: 10px;
	font-weight: normal;
	font-size: 2.5rem;}
form{background-color: green;
width: 500px;
height: 100px;
font-style: oblique;
border: 30px;
padding: 450px;}
.cloud {position: absolute;
right: 2px;
top:500px;
bottom :500px;}
.secondcloud{
	position: absolute;
	left: 30px;
	bottom: 1000px;
}
.mount{padding-top: 500px;
width:100%;
margin: 0;
height: 500px;}
.skill-row{
	width: 50%;
	margin: auto;
line-height: 2;
}
.code-img{
	float: left;
}
.contact-message{
	width: 40%;
	margin: 40px auto 60px;
}
<a href="#" class="myButton">CONTACT ME</a>

.btn {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:cursive;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.btn:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.btn:active {
	position:relative;
	top:1px;
}
.a{
	color: #11999E;
	font-family: cursive;
margin: 10px 20px;
text-decoration: none;}